.sidebarChat {
    /* direction: rtl; */
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover {
    background-color: #ebebeb;
}
.sidebarChat__info {
    margin-left: 15px;
    margin-right: 15px;
}
.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebarChat__typing {
    color: rgb(49, 197, 49);
    font-size: 12px;
}
